fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
httpx
authlib
email-validator
itsdangerous
alembic
bcrypt
cryptography
python-multipart 